<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/e9f3183aef.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title><%= pageTitle %></title>
</head>
<body>

  <section class="banner"> 

  <nav class="index-nav navbar navbar-expand-lg navbar-dark ">
    <a class=" navbar-brand" href="/">Askee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="ml-auto navbar-nav">
        <li class="nav-item ">
          <a class="nav-link active" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus">About Us</a>
        </li><% if(!isAuthenticated){%>
          <li class="nav-item <%=(pageTitle==='Sign Up') ? 'active':'' %>">
            <a class="  nav-link" href="signup">Sign Up</a>
          </li>
          <li class="nav-item <%=(pageTitle==='Sign In') ? 'active':'' %>">
            <a class="nav-link" href="signin">Sign In  </a>
          </li>
       <% }else{%>
          <li class="nav-item <%=(pageTitle==='Post A Question') ? 'active':'' %>">
        <a class="nav-link" href="questionentry">Post A Question</a>
          </li>
          <li class="nav-item <%=(pageTitle==='Feed') ? 'active':'' %>">
            <a class="nav-link" href="feed">Feed</a>
          </li>
          <li class="nav-item <%=(pageTitle==='MyDashboard') ? 'active':'' %>">
            <a class="nav-link" href="dashboard">MyProfile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Log Out</a>
          </li>
          
          <%}%>
      </ul>
    </div>
  </nav>





  </section>   
    <section class=" feats">
      
      <div class="mb-5 row container-fluid">
        <div class="mt-5 col-md-4">
          <i style="color:grey; " class="fa-regular fa-lightbulb fa-4x mb-3"></i>
          <h4>ASK</h4>
          <h5>Ask till your heart's content </h5>
        </div>

        <div class="mt-5 col-md-4 ">
          <i style="color:grey; " class="fa-regular fa-compass fa-4x mb-3"></i>
          <h4>Contemplate</h4>
          <h5>Think before you speak </h5>
        </div>

        <div class=" mt-5 col-md-4">
          <i style="color:grey; " class="fa-solid fa-reply-all fa-4x mb-3"></i>
          <h4>Respond</h4>
          <h5>Reply to all </h5>
        </div>

      </div>

    </section>
    <!-- end of feats  -->
    
    <section class="cta">
      <div class="action mt-5">
        <h2 class=""> What are you waiting for ?<br> join us now and start responding</h2>
        <button type="button" class="btn btn-outline-light btn-lg">Light</button>

      </div>


    </section>

    <footer>
       
    </footer>
  <%- include('./partials/footer.ejs') %>
    